td {
	align: center;
}
p.titletext {
	text-align: center;
	font-family: 'Comic Sans MS', cursive;
	font-size: 2em;
	color: #FFFF00;
}
table.soundboard {
	width: 55em;
	background-color: #ffadad;
}
button {
	height: 3em;
	background-image: url('garfield.png');
	background-position: center;
	padding-left : 0.5em;
	color: #FFFFFF;
	font-weight: bolder;
	text-shadow:
	1px 1px #000000,
	-1px -1px #000000,
	1px -1px #000000,
	-1px 1px #000000;
	font-family: 'Comic Sans MS', cursive;
}
button.controls {
	background-image: url('controlsbutton.jpg');
	text-shadow: none;
	font-family: 'Arial';
	font-size: 2em;
	padding: 1em;
	color: #FFFFFF;
}
p.joerobertsquote {
	font-family: 'Abril Fatface', cursive;
	font-size: 2em;
	color: #fff8e4;
	text-align: center;
}
